html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

section#main {
  font-family: 'Roboto';
  background-color: white;
  width: 100%;
  height: 100%;
}

section#dashboard {
  height: 100%;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  background-color: rgb(250,250,250);
}

section#header {
  width: 100%;
  background-color: rgb(220,220,220);
}

#buttons {
  display: none;
  width: calc(100% - 16px);
  border-top: 1px solid rgb(180,180,180);
  border-bottom: 1px solid rgb(180,180,180);
  padding: 8px;
}

#create {
  color: white;
  background-color: rgb(38, 166, 91) !important;
}

#create:hover {
  background-color: rgb(18, 146, 71) !important;
}

.button {
  display: inline-block;
  cursor: pointer;
  padding: 12px;
  background-color: rgb(220,220,220);
}

.button:hover {
  background-color: rgb(200,200,200);
}

h1 {
  padding: 20px;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 17pt;
}

.by {
  color: rgb(120,120,120);
  font-style: italic;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

#circuitsList {
  display: none;
  width: 100%;
}

.circuitItem {
  margin: 6px;
  height: 70px;
  cursor: pointer;
  width: calc(100% - 12px);
  background-color: rgb(240,240,240);
}

.circuitItem:hover {
  background-color: rgb(230,230,230);
}

.circuitItemPic {
  display: inline-block;
  width: 70px;
  height: 70px;
  background-color: rgb(220,220,220);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.circuitItemMeta {
  padding: 15px;
  height: 40px;
  vertical-align: top;
  display: inline-block;
}

.circuitItemTitle {
  line-height: 1.2;
  font-size: 14.5pt;
}

.circuitItemDate {
  font-size: 10.5pt;
  color: rgb(160,160,160)
}

#account {
  width: 100%;
}

#account > input {
  display: block;
  margin: 20px auto;
}

#next {
  display: block;
  width: 200px;
  margin: 5px auto;
  text-align: center;
}

input, textarea {
  outline: none;
  border: 0;
  font-family: "Roboto", sans-serif;
  padding: 9px;
  width: calc(100% - 18px);
  max-width: 300px;
  background-color: rgb(240,240,240);
  border-bottom: 2px solid rgb(190,190,190);
}

input:focus {
  border-bottom: 2px solid rgb(100,100,100);
}

#tcImporter {
  display: none;
}

#tcImporter input  {
  display: block;
  margin: 20px auto;
}

#import {
  display: block;
  width: 200px;
  margin: 5px auto;
  text-align: center;
}

#tcImporter p {
  font-size: 13.5pt;
  padding: 14px;
  line-height: 1.2;
}

#tinkercadImportCode {
  width: calc(95% - 18px);
  margin: 0 2.5%;
  max-width: initial;
}

#return {
  margin: 9px;
}